{% assign html_title = page.title %}

{% if page.subtitle %}
{% assign subtitle = page.subtitle %}
{% assign html_title_sep = page.html_title_sep | strip %}
{% if html_title_sep == ',' %}
{% assign html_title = html_title | append: ", " | append: subtitle %}
{% endif %}
{% if html_title_sep == '-' %}
{% assign html_title = html_title | append: " - " | append: subtitle %}
{% endif %}
{% if html_title_sep == '(' %}
{% assign html_title = html_title | append: " (" | append: subtitle | append: ") " %}
{% endif %}
{% endif %}

{% if page.url != '/' %}
{% assign html_title = html_title | append: " - Gospel Desk" %}
{% endif %}

{{ html_title }}
