<meta property="og:site_name"   content="Gospel Desk">

<meta property="og:url"         content="{{ site.url }}{{ page.url }}">
<meta property="og:title"       content="{{ page.title }}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ page.subtitle }}{% endif %}">

{% assign section = page.url | remove_first: '/' | split: '/' | first %}

{% if page.image %}
<meta property="og:image"       content="{{ site.url }}{{ page.image }}">
<meta property="og:image:alt"   content="{% if page.image_alt %}{{ page.image_alt }}{% else %}{{ page.title }}{% endif %}">
{% elsif section == 'the-twelve-faithful-servants' %}
<meta property="og:image"       content="{{ site.url }}/the-twelve-faithful-servants/default.png">
<meta property="og:image:alt"   content="new icon forthcoming, God willing">
{% else %}
<meta property="og:image"       content="{{ site.url }}/assets/images/logo.256.png">
<meta property="og:image:alt"   content="the Gospel Desk logo">
{% endif %}

{% if page.isbn %}
<meta property="og:type"        content="book">
<meta property="og:book:isbn"   content="{{ page.isbn }}">
<meta property="og:book:release_date" content="{{ page.date }}">
{% else %}
<meta property="og:type"        content="website">
{% endif %}
