<!doctype html>
<html>
  <head>
    <title>{% include html-title.html %}</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/assets/styles.css?{{site.time | date: '%s'}}"
    />

    <!-- h/t https://favicon.io/ -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/images/logo.180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/images/logo.32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/logo.16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />

    {% if page.noindex  %}
    <meta name="robots" content="noindex">
    {% endif %}

    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <script
      async
      defer
      data-domain="gospeldesk.org"
      src="https://plausible.io/js/plausible.js"
    ></script>

    {% include og-meta.html %}
  </head>
  <body
    class="
      {% if page.url == '/' %}homepage{% else %}inside-page{% endif %}
      {% if page.clip_bottom %}clip-bottom{% endif %}
    "
  >
    <article>
      <a class="up" href="../" title="navigate up one level">
        <img src="/about/gospel-desk-icon.svg" alt="navigate up one level">
      </a>
      {{ content }}
    </article>
    <footer>
      &copy;
      2010—<script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      <a href="/">Gospel Desk</a> &middot;
      <a href="/about/">About</a> &middot;
      <a href="mailto:chad@zetaweb.com">Email</a> &middot;
      <a href="/feed.xml">RSS</a>
      <form method="post" action="https://buttondown.email/api/emails/embed-subscribe/gospeldesk" target="_blank">
        <input type="email" name="email" value="" placeholder="email@example.com">
        <button class="button" type="submit">Subscribe</button></td>
        <div class="powered-by">
          Email updates powered by
          <a href="https://buttondown.email">Buttondown</a>.
        </div>
      </form>
    </footer>
    <div id="too-small">🥺</div>
  </body>
</html>
